# Source: https://github.com/MartinHeinz/go-project-blueprint/blob/master/.gitignore
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

bin
.go
.push-*
.container-*
.dockerfile-*

go.sum

## Custom
.idea
*linux_amd64
pgdata/
node_modules
vendor